:root {
    --black:#151515;
    --white:#ffffff;
    --green:#4EE1A0;
    --dark-grey:#242424;
    --grey:#d9d9d9;
    --main-font: 'Space Grotesk', system-ui;
   
}
/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 300 to 700 */

/* .space-grotesk {
  font-family: "Space Grotesk", system-ui;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; 
} */

body{
  background-color: var(--black);
 
}

h1{
  color:var(--white);
  font-family: var(--main-font);
}

